<section class="container-fluid mt-4 p-2 w-100">
    <div class="col-12">
      <div class="cost card shadow-sm rounded-4 p-3 card-custom">
        
        <div class="d-flex gap-2 px-3 align-items-center justify-content-between mb-2">
          <p class="cost-title1 fw-bold mb-0">قیمت دوره</p>
          <p class="cost-title2 fw-bold mb-0">۵/۰۰۰/۰۰۰</p>
        </div>
        
        <div class="d-flex flex-wrap gap-2 px-3 align-items-center justify-content-between mb-3">
          <p class="cost-title3 text-muted mb-0">50% تخفیف خرید بلیط زودهنگام</p>
          <div class="d-flex gap-2 align-items-center">
            <p class="cost-title4 fw-bold mb-0">۲/۵۰۰/۰۰۰</p>
            <p class="cost-title5 mb-0">تومان</p>
          </div>
        </div>
  
        <button class="btn btn-primary col-12 py-2 rounded-3">
          شرکت در دوره
        </button>
        
      </div>
    </div>
  </section>