<div class="mt-4">
    <div class="card shadow-sm rounded-4 p-4 card-custom">
      <h4 class="fw-bold mb-3">مدرس دوره</h4>
  
      <div class="d-flex align-items-center p-2">
        <img src="svg/teacher-card/profile.svg" alt="Instructor" class="rounded-circle me-3" width="50" height="50">
        <div>
          <strong>محمد شامی</strong>
          <p class="text-secondary m-0">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
          </p>
        </div>
      </div>

      <hr class="my-2">
  
      <div class="d-flex align-items-center p-2">
        <img src="svg/teacher-card/profile.svg" alt="Instructor" class="rounded-circle me-3" width="50" height="50">
        <div>
          <strong>محمد شامی</strong>
          <p class="text-secondary m-0">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
          </p>
        </div>
      </div>
  
    </div>
  </div>