<section class="container-fluid my-4">
    <div class="row flex-nowrap overflow-auto scroll-container gx-3">
      <div
        class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-8"
        *ngFor="let event of eventcards"
      >
        <div class="card-custom event-card">
          <div class="event-card-images position-relative">
            <img
              class="event-card-img-small"
              [src]="event.imagePath1"
              [alt]="event.text"
            />
            <img
              class="event-card-img-large position-absolute top-50 start-50 translate-middle"
              [src]="event.imagePath2"
              [alt]="event.text"
            />
          </div>
          <div class="event-card-content p-3">
            <h5 class="fw-bold">{{ event.title }}</h5>
            <p class="m-0">{{ event.text }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>