<div class="mt-4">
    <div class="card shadow-sm rounded-4 p-4 card-custom">
      <h4 class="fw-bold mb-3">عنوان توضیحات</h4>
  
      <p class="text-secondary">
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
        استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
        ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز،
        و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای
        زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و
        متخصصان را می طلبد...
      </p>
  
      <div class="my-3">
        <div class="bg-light rounded-3 d-flex justify-content-center align-items-center" style="height: 175px;">
          <span class="text-muted">تصویر</span>
        </div>
      </div>
  
      <p class="text-secondary mt-3">
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
        استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
        ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز...
      </p>
    </div>
  </div>