<app-navbar></app-navbar>
<div class="page-container">

<div class="page-container container mt-5">
  <div class="row">
    <main class="col-lg-8 col-md-12 mb-4">
      <app-banner-slider></app-banner-slider>

      <div class="card-body mt-4">
        <div class="d-flex flex-wrap card-body-top justify-content-between align-items-center">
          <h4 class="card-title">دوره آموزشی آنلاین سبک‌های معماری نرم‌افزار</h4>
          <span class="d-flex flex-wrap align-items-center justify-content-center">
            <img src="svg/singlr-page/neshan.svg" alt="" />
            <img src="svg/singlr-page/telegram.svg" alt="" />
          </span>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-2">
          <div class="d-flex card-body-down align-items-center gap-2">
            <img src="svg/singlr-page/map.svg" alt="" />
            <p class="card-text1 m-0">حضوری</p>
            <span class="col-line-sm2"></span>
            <p class="card-text2 m-0">خرمدره</p>
          </div>

          <button class="btn btn-outline-primary rounded-pill px-3 py-1 search-btn">
            فرهنگی و هنری
          </button>
        </div>
      </div>
      <app-description class="mt-4"></app-description>
      <app-course-teacher class="mt-4"></app-course-teacher>
      <app-course-prerequisites class="mt-4"></app-course-prerequisites>
      <app-course-schedule class="mt-4"></app-course-schedule>
      <app-faq-card class="mt-4"></app-faq-card>

      <div class="d-flex flex-wrap card-body-top  align-items-center mt-4 gap-2">
        <p class="m-0 fw-bold">برچسب‌ها</p>
        <div class="d-flex flex-wrap gap-2">
          <button class="btn btn-outline-primary rounded-pill px-3 py-1 search-btn">
            دوره فتوشاپ
          </button>
          <button class="btn btn-outline-primary rounded-pill px-3 py-1 search-btn">
            سمینار مدیریت
          </button>
          <button class="btn btn-outline-primary rounded-pill px-3 py-1 search-btn">
            وبینار کسب و کار
          </button>
        </div>
      </div>
    </main>

    <aside class="col-lg-4 col-md-12 mb-4 d-flex flex-column gap-3">
      <app-followers></app-followers>
      <app-schedule-card></app-schedule-card>
      <app-cost-card></app-cost-card>
    </aside>
  </div>

</div>

  <div class="row justify-content-center my-4 mx-2">
    <div class="d-flex align-items-center justify-content-end gap-2 col-7">
      <img src="svg/landing-page/uni-hat.svg" alt="" />
      <p class="m-0 fw-bold fs-3">دوره‌های مشابه</p>
    </div>
    <div class="d-flex align-items-center  col-5 justify-content-end">
      <button class="btn btn-outline-primary rounded-pill px-3 py-1 search-btn">مشاهده همه</button>
    </div>
  </div>
  <section class="container-fluid my-5">
    <app-course-cards></app-course-cards>
  </section>


  <div class="d-flex justify-content-center my-4">
    <img src="svg/landing-page/medal.svg" alt="" />
    <p class="m-0 fw-bold fs-3">چرا زنجان ایونت؟</p>
  </div>
  <section class="container-fluid my-5">
    <app-event-card></app-event-card>
  </section>

  <app-footer></app-footer>

</div>
<router-outlet></router-outlet>